*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #eee7f9;
}

/* Rectangle 1 */

/* position: absolute;
width: 110px;
height: 70px;
left: 10px;
top: 480px;

background: linear-gradient(180deg, #D76A74 0%, rgba(125, 59, 65, 0.3) 100%);
opacity: 0.6;
border: 2px solid #000000;
box-sizing: border-box;
border-radius: 4px; */
